/* Media Queries
-------------------------------------------------------------- */
@media only screen and (min-width: 1440px) {
	.container-fluid {
		max-width: 1470px;
	}	
}

/* Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 1439px) {
	.login-user {
		width: 100%;
		margin-left: 0;
		left: 0;
	}

	.login-user .wrap-login {
		padding: 90px 0;
	}
}

@media only screen and (max-width: 1366px) {
}

/* Smaller than standard 1200 */
@media only screen and (max-width: 1199px) {
}

/* Smaller than standard 992 */
@media only screen and (max-width: 991px) {
	.about-area {
		padding: 50px 0 20px;
	}

	.image-about {
		text-align: center;
		margin-bottom: 60px;
	}

	.btn-menu {
		display: block ;
	}

	.nav-wrap {
		position: relative;
		float: none;
	}		

	#mainnav,
	.login-user .image-login {
		display: none;
	}

	.wrap-login .two-column {
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.login-user .wrap-login {
		padding: 90px 0 50px;
	}

	.login-container.style1 .login-form {
		position: static;
		-webkit-transform: translate(0, 0);
		   -moz-transform: translate(0, 0);
		    -ms-transform: translate(0, 0);
		     -o-transform: translate(0, 0);
		        transform: translate(0, 0);
	}

	/* header-style2 */
	.header-style2 .nav-wrap {
		display: block;
	}

	.wrap-menu-desktop {
		display: none;
	}

	.header-style2 .btn-menu:before, 
	.header-style2 .btn-menu:after, 
	.header-style2 .btn-menu span {
	    background-color: #13BF1A;
	}

	.header-style2 .btn-menu {
	    margin: 10px 0px 0px 35px;
	}

	.header-style2 .menu-mobi a.thong-bao-top {
		display: inline-block;
    	margin-top: 10px;
	}

	.header-style2 .menu-mobi .icon-thong-bao-top {
		font-size: 20px;
	}

	.header-style2 #mainnav-mobi {
		height:100%;
		background-color: #fff;
	}

	.header-style2 #mainnav-mobi > ul > li {
		padding-left: 50px;
		padding-right: 20px;
	}

	.header-style2 #mainnav-mobi > ul > li > a {
	    font-size: 15px;
	    font-weight: 700;
	    line-height: 80px;
	    display: inline-block;
	    width: 100%;
	    position: relative;	    
	    padding: 0;
        height: 80px;
        color: #747485;
	}

	.header-style2 #mainnav-mobi > ul > li > a > i {
	    font-size: 15px;
	    width: 30px;
	    display: inline-block;
	}

	.header-style2 #mainnav-mobi ul li {
		border: none;
	}

	.header-style2 {
		border-bottom: 1px solid #E6E6EE;
	}

	.header-style2 #mainnav-mobi ul li:last-child {
	    border-top: 1px solid #E6E6EE;
	}

	.header-style2 #mainnav-mobi ul li.overview a i {
	    font-size: 12px;
	}

	.header-style2 #mainnav-mobi ul li.active a:before, 
	.header-style2 #mainnav-mobi ul li a:hover:before, 
	.header-style2 #mainnav-mobi ul li.active a, 
	.header-style2 #mainnav-mobi ul li.active a i:before,
	.header-style2 #mainnav-mobi ul > li > a:hover {
	    opacity: 1;
	    visibility: visible;
	    color: #13BF1A;
	}

	.header-style2 #mainnav-mobi ul li .userLoginBox {
		padding: 20px 0;		
	}

	.header-style2 #mainnav-mobi ul li .userLoginOutBox {
		padding: 27px 0;		
	}

	.header-style2 #mainnav-mobi ul li .userLoginBox:before {
		display: none;	
	}

	.header-style2 #mainnav-mobi .menu {
		position: relative;
		height: 90vh;
	}

	.header-style2 #mainnav-mobi .menu li.wrap-userboxtop {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0 15px;
	}

	.one-two,
	.box-left-no-padding,
	.box-right-no-padding,
	.box-left,
	.box-right,
	.danhsachcauhoi-gv .content-wrap .box-left,
	.lichsucuocgoi-gv .content-wrap .box-left,
	.danhsachcauhoi-gv .content-wrap .box-right,
	.lichsucuocgoi-gv .content-wrap .box-right,
	.one-seventh,
	.one-third,
	.chitietcauhoichohotro-gv .box-left, 
	.chitietcauhoichohotro-gv .box-center, 
	.chitietcauhoichohotro-gv .box-right {
		width: 100%;
	}

	.chitietcauhoichohotro-gv .box-left, 
	.chitietcauhoichohotro-gv .box-center, 
	.chitietcauhoichohotro-gv .box-right {
		padding: 0
	}

	.chitietcauhoichohotro-gv .box-left, 
	.chitietcauhoichohotro-gv .box-right {
		text-align: center;
	}

	.chitietcauhoichohotro-gv .wrap-icon-list > li > div {
		display: inline-block;
		min-width: 210px;
		max-width: 210px;
		margin-left: 48px;
	}

	.box-list.box-recent-calls {
		margin-bottom: 30px;
	}

	.sidebar {
		display: none;
	}

	.bottom-copyright.v2 {
		display: block;
	}

	.mobile-with-one-two {
		width: 50% !important;
	}

	.box-container-fluid {
		padding: 0;
	}

	.wrap-btn {
		text-align: center;
	    border-bottom: 1px solid #E6E6EE;
	}

	.mobile-margin-bottom42 {
		margin-bottom: 42px;
	}

	h3 { line-height: 1.6; }
	h4 { line-height: 1.6; }
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {	
	.login-area .flex .two-column {
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.login-container {
		padding: 40px 15px;
	}

	.login-form {
		position: static;
		max-width: 100%;
		-webkit-transform: translate(0, 0);
		   -moz-transform: translate(0, 0);
		    -ms-transform: translate(0, 0);
		     -o-transform: translate(0, 0);
		        transform: translate(0, 0);
	}

	.login-container.style1 {
		padding: 0;
	}

	.login-container.style1 .login-form {
		padding: 30px 20px;
	}
}


/* Mobile Portrait Size */
@media only screen and (max-width: 480px) {	
	.image-about .image:before {
		width: 300px;
		height: 300px;
		left: -10px;
		bottom: -30px;
	}

	.top-title .title,
	.login-form h1 {
		font-size: 26px;
		line-height: 36px;
	}

	.login-form h1 {
		margin-bottom: 15px;
	}

	.top-title .sub-title {
		font-size: 18px;
	}

	.top-title .sub-title:before, .top-title .sub-title.center:after {
		width: 30px;
	}

	.top-title .sub-title.center:after {
		left: -45px;
	}

	.top-title .sub-title:before {
		right: -45px;
	}

	.blog-post .entry-post {
		padding: 20px;
	}

	.list-recent-calls .item > ul > li:first-child {
		display: block;
		float: none !important;
	}

	.list-recent-calls .item .time .hours,
	.list-recent-calls .item .time .day {
		display: inline-block;
		margin-bottom: 7px;
		margin-right: 7px;
	}
}

@media (max-width: 360px) {
	.header.style1 .logo a {
		font-size: 24px;
	}

	.image-about .image:before {
		width: 250px;
		height: 250px;
	}

	.header .button-login a {
		padding: 0 15px;
		line-height: 30px;
		height: 32px;
		margin-top: 16px;
	}
}

